/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC */

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  margin: 0;
}

h2, h3, p {
  margin: 0;
}

.dark-grey {
  background-color: #2B2733;
}

.light-grey {
  background-color: #46424D;
}

.dark-text {
  color: #CBC9CF;
}

.start-activity-button {
  background-color: #FFF;
  color: #46424D;
}

.intention-input {
  border-color: #FFF;
  color: #FFF;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}

.time-input {
  border-color: #FFF;
  color: #FFF;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
}
