body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  margin: 0;

}

nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

input {
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  font-size: 1em;
}

h2 {
  font-weight: 300;
}

h3 {
  padding: 20px 20px 0px 20px;
}

h2, h3, h4, h5 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  outline: none;
}

main {
  display: flex;
  flex-direction: row;
}

.new-activity-section {
  width: 100%;
  margin-bottom: 100%;
}

.past-activities-section {
  min-width: 35%;
  display: flex;
  flex-direction: column;
  border-left: solid #46424D 2px;
}

.first-card {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 13px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 8px 8px 6px -6px #26222D;
  }

  .second-card {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 8px 8px 6px -6px #26222D;
    width: 75%;
  }

  .no-activity-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .95em;
    margin: 30px 30px 30px 0px;
    width: 100%;
  }

.intention-input {
  border-color: #CBC9CF;
  color: #CBC9CF;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  width: 100%;
}

.intention-section {
  margin-top: 30px;
}

.time-input {
  border-color: #CBC9CF;
  color: #CBC9CF;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  width: 100%;

}

.time-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 10px;
}

.minsec {
  width: 40%;
}

.category-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.category-button {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  background-color: #46424D;
  border: solid #FFF 2px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 20%;
}

.category-image {
  height: 20px;
  width: 20px;
  fill: #B3FD78;
}

.error-message {
  display: flex;
  flex-direction: row;
  color: #EFB7EC;
  font-size: .75em;
  padding-top: 10px;;
}

.error-icon {
  height: 12px;
  width: 12px;
  padding-right: 7px;
}

.start-activity-button {
  background-color: #FFF;
  color: #46424D;
  margin-top: 70px;
  margin-bottom: 30px;
  width: 30%;
  padding: 10px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
}

.create-new-activity-button {
  background-color: #FFF;
  color: #46424D;
  margin-top: 50px;
  margin-bottom: 100%;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.dark-grey {
  background-color: #2B2733;
}

.light-grey {
  background-color: #46424D;
}

.study-green {
  border-color: #B3FD78;
  color: #B3FD78;
}

.meditate-purple {
  border-color: #C278FD;
  color: #C278FD;

}

.exercise-red {
  border-color: #FD8078;
  color: #FD8078;
}

.error-pink {
  border-color: #EFB7EC;
}

.dark-text {
  color: #CBC9CF;
}

.light-grey {
  background-color: #46424D;
}
.hidden{
  display: none;
}

.timer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-description {
  font-size: 1.25em;
}

.timer-time {
  font-size: 5em;
  margin-top: 5px;
  margin-bottom: 30px;
}

.start-timer-button {
  height: 200px;
  width: 200px;
  background-color: #46424D;
  color: #CBC9CF;
  border-radius: 50%;
  border: 4px solid;
  border-color: #CBC9CF;
  font-size: 1.25em;
  margin-bottom: 70px;
}

.log-activity-button {
  background-color: #FFF;
  color: #46424D;
  margin-bottom: 30px;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.past-activity-border {
  height: 22px;
  border: 4px solid;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-color: #B3FD78;
  border-radius: 10px;
  position: absolute;
  right: 35px;
}

.past-activity-category {
  font-weight: 600;
}

.past-activity-time {
  font-size: .80em;
}

.past-activity-description {
  font-size: .85em;
  padding-top: 10px;
  margin-bottom: 7px;
}

.study-color {
  border-color: #B3FD78;
}

.meditate-color {
  border-color: #C278FD;
}

.exercise-color {
  border-color: #FD8078;
}

.past-activity-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 7px 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 6px -6px #26222D;
}

.remove-activities-button {
  background-color: #FFF;
  color: #46424D;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 40px;
  width: 92%;
}
