/* Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF

/* html {
  height: 100%;
} */

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-weight: 300;
}

h3 {
  padding: 20px 20px 0px 20px;
}

h2, h3, h4, p {
  margin: 0;
}

.no-activity-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 30px 0px;
  font-size: 12px;
  width: 100%;
}

main {
  display: flex;
  flex-direction: row;
}

.new-activity-section {
  width: 100%;
  border-right: solid #46424D 2px;
}

.past-activities-section {
  min-width: 35%;
}

.new-activity-card {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 10px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 8px 8px 6px -6px black;
  }

.dark-grey {
  background-color: #2B2733;
}

.light-grey {
  background-color: #46424D;
}

.study-green {
  background-color: #B3FD78;
}

.meditate-purple {
  background-color: #C278FD;
}

.exercise-red {
  background-color: #FD8078;
}

.error-pink {
  color: #EFB7EC;
}

.dark-text {
  color: #CBC9CF;
}

.intention-input {
  border-color: #FFF;
  color: #FFF;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  width: 100%;
}

.intention-section {
  margin-top: 30px;
}

.time-input {
  border-color: #FFF;
  color: #FFF;
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  width: 100%;

}

.time-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px:
}

.minsec {
  width: 40%;
}

.category-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.category-button {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  border: solid #FFF 2px;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.category-image {
  height: 20px;
  width: 20px;
}

.start-activity-button {
  background-color: #FFF;
  color: #46424D;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 33%;
  padding: 5px;
  align-self: flex-end;
  border-radius: 5px;
  border: none;
}
